root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.go]
indent_style = tab
indent_size = 4

[*.proto]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab
indent_size = 2

[*.{js,sol}]
indent_style = space
indent_size = 4

[*.{yml,yaml}]
indent_style = space
indent_size = 2
